@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.dct-topmenu-expanded {
  @apply absolute top-10 z-50 w-full text-center bg-white animate-slideDown;
}

.dct-top-menu-item {
  @apply py-1 hover:text-gray-800 relative after:lg:absolute after:lg:bottom-0 after:lg:left-0 after:lg:bg-coffee-200 after:lg:w-0 hover:after:lg:w-full after:lg:h-0.5 after:lg:transition-all after:lg:ease-in-out after:lg:duration-300;
}

.dct-top-menu-item-active {
  @apply text-gray-800;
}

.dct-icon {
  @apply w-5 h-5 inline-block;
}

.dct-badge-circle {
  @apply text-xs text-center rounded-full px-1.5;
}

.dct-subheadline {
  @apply flex justify-center items-center mb-24;
}

.dct-subheadline-deco-line {
  @apply w-8 h-px bg-gray-200;
}

.dct-subheadline-label {
  @apply uppercase mx-4 tracking-widest text-gray-500 font-medium text-xs text-center;
}

.dct-button {
  @apply text-center uppercase tracking-wider px-6 py-4 text-sm font-semibold cursor-pointer hover:bg-opacity-95;
}
